/* 画像ルール900px * 480px （1.875倍） */

body {
font-family: 'Klee One', cursive;
margin: 0 20%;
}

/* メニューバー */
.menu-container {
  background-color: #fff;
}

.nav-item {
  padding: 0 30px 0;
  font-size: 1.2rem;
}

/* タイトル */
.title-text {
    margin: 60px 0 100px;
    text-align: center;
    letter-spacing: 0.2em;
}

/* 各ページタイトル */
.page-title h3 {
    text-align: center;
    padding: 30px 0;
}

/* 全頁フッター */
footer {
  margin: 80px 0;
  text-align: center;
}

/* ホーム画面 */
.new {
  color: red;
}
.top-images {
  margin: auto;
  padding: 10px 0;
}
.moveto-news {
  color: black;
  text-decoration: none;
}

.moveto-news:hover {
  color: black;
  text-decoration: underline dotted 0.5px;
}

/* トリートメントメニュー */
.category-box {
  margin-bottom: 50px;
}

.category-title {
  display: flex;
  align-items: center;
  justify-content: center;/
}

.category-title::before,
.category-title::after {
content: '';
flex-grow: 0.5;/* 少数にする */
height: 1px;
}

.category-title::before {
margin-right: 20px;
background: linear-gradient(-90deg, #8f8f8f , white);
}

.category-title::after {
margin-left: 20px;
background: linear-gradient(90deg, #8f8f8f , white);
}

.menu-box {
  padding: 30px;
}

.menu-desc {
  color: #7f7f7f;
}

/* 予約フォーム */
.available-period{
  font-size: 0.8rem;
}

.contact-description {
  text-align: left;
}

.contact-btn {
  margin-bottom: 50px;
}

.appoint-form {
  padding: 0 10%;
}

.appoint-box {
  size: 130px;
}

.appoint-message {
  resize: vertical;
  width:255px;
  height:300px;
}


/* 完了画面 */
.submitted-data {
  margin: auto;
}

.submitted_title {
  text-align: center;
}

/* 失敗画面 */
.err-message {
    text-align: center;
}